<%- include('partials/header.ejs') %>
<header>
  <div class="smoothie"><img src="images/Sha.png" alt="" /></div>
  <div class="headings">
    <h2 style="line-height: 3em">TheAdage Production Hive</h2>
    <h3>Inspired By Purpose Driven By Passion</h3>
    <a href="/smoothies" class="btn">View More</a>
  </div>
</header>
<%- include('partials/footer.ejs') %>s
