<%- include('partials/header.ejs') %>
<main>
  <div class="head">
    <h2>Production Hive</h2>
    <div class="head-img">
      <img src="images/feed-image-3.png" alt="" />
    </div>
    <div class="content">
      <p style="color: antiquewhite; margin-top: 2em">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure possimus
        dolores architecto dolor sunt harum fuga delectus sequi id placeat.
      </p>
    </div>
  </div>
</main>
<%- include('partials/footer.ejs') %>s
