<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>
		<div class="about content">
			<h2>About us</h2>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt
				itaque eum aspernatur asperiores aut minima maxime reiciendis sed?
				Tenetur eaque dicta suscipit a libero dolor earum et sed soluta
				assumenda?
			</p>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt
				itaque eum aspernatur asperiores aut minima maxime reiciendis sed?
				Tenetur eaque dicta suscipit a libero dolor earum et sed soluta
				assumenda?
			</p>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt
				itaque eum aspernatur asperiores aut minima maxime reiciendis sed?
				Tenetur eaque dicta suscipit a libero dolor earum et sed soluta
				assumenda?
			</p>
		</div>
           <%- include('./partials/footer.ejs') %>
	</body>
</html>
